<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Firma_CurieratDB" connectionString="Server=DESKTOP-KKN10VQ\SQLEXPRESS;Database=Firma Curierat;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>